# Python tutorial

In [2]:
2*3

6

In [3]:
17//3

5

In [4]:
17/3

5.666666666666667

In [5]:
5 ** 2

25

In [6]:
width = 10
height = 20
width * height

200

In [7]:
x = 'spam egg'

In [8]:
x = "spam egg"

In [9]:
x = "spam egg 'delicious'"

In [10]:
x

"spam egg 'delicious'"

In [11]:
print(x)

spam egg 'delicious'

In [12]:
print('c:\some\name')

c:\some
ame

In [13]:
print(r'c:\some\name') #add r in print

c:\some\name

In [15]:
print("""1
2
3
4""")

1
2
3
4

In [16]:
3*3

9

In [17]:
"python" * 5 + "class"

'pythonpythonpythonpythonpythonclass'

In [18]:
word = 'Python'

In [19]:
word[0]

'P'

In [20]:
word[-6]

'P'

In [21]:
word[0:2]

'Py'

In [22]:
word[:2]

'Py'

In [23]:
word[2:100]

'thon'

In [24]:
word[17:]

''

In [25]:
squares = [1, 4, 16, 25]

In [27]:
squares[0]

1

In [28]:
squares + [36, 49]

[1, 4, 16, 25, 36, 49]

In [29]:
squares.append(64)

In [30]:
squares

[1, 4, 16, 25, 64]

In [31]:
letters = ['a', 'b', 'c', 'd']

In [32]:
letters[0] = 'A'

In [33]:
letters

['A', 'b', 'c', 'd']

In [35]:
word[0] = 'p'

TypeError: 'str' object does not support item assignment

In [37]:
letters[2:5] = ['C','D','E']
letters

['A', 'b', 'C', 'D', 'E']

In [38]:
letters[2:5] = []
letters

['A', 'b']

In [39]:
len(letters)

2

In [42]:
#nested list
c = ['a', 'b', 'c']
n = [1,2,3]
x = [c,n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [43]:
x[0]

['a', 'b', 'c']

In [44]:
x[0][0]

'a'

## While

In [47]:
#Fibonacci series: the sum of two elements
a,b = 0, 1
while a < 10:
    print(a, end='_')
    a, b = b, a+b

0_1_1_2_3_5_8_

In [48]:
x = int(input(""))
if x<0:
    print('negative')
elif x==0:
    print('zero')
else:
    print('positive')

-8
negative

## for

In [49]:
words = ['apple', 'banana', 'carrot', 'peach']
for w in words:
    print(w, len(w))

apple 5
banana 6
carrot 6
peach 5

In [52]:
for i in range(len(words)):
    print(i, words[i])

0 apple
1 banana
2 carrot
3 peach

In [54]:
for n in range(2,10):
    for x in range(2, n):
        if n%x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
         print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [56]:
for num in range(2,10):
    if num%2 == 0:
        print('Found an even number', num)
        continue
    print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

## Function

In [58]:
def fib(n):
    result = []
    a, b = 0, 1
    while a<n:
        result.append(a)
        a,b=b,a+b
    return result

f200 = fib(200)
print(f200)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [59]:
def fib(n):
    result = []
    a, b = 0, 1
    while a<n:
        result.append(a)
        a,b=b,a+b
    print(result)

f200 = fib(200)
print(type(f200))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]
<class 'NoneType'>

In [60]:
def sum_power(a, b=3, c=2):
    return (a+b)**c

In [61]:
print(sum_power(2,4,3))

216

In [62]:
print(sum_power(2))

25

In [63]:
print(sum_power(2, c=5))

3125

In [64]:
#######################################
def concat(*args, sep='/'):  #*은 무제한으로 리스트로 받음
    return sep.join(args)

In [65]:
print(concat('apple','banana','carrot','abc','def','sf'))

apple/banana/carrot/abc/def/sf

In [66]:
print(concat('apple','banana','carrot',',')) #파라미터로 인식

apple/banana/carrot/,

In [67]:
print(concat('apple','banana','carrot',sep=','))

apple,banana,carrot

In [68]:
######################################
def print_student(**args): #**은 딕셔너리 key 받음
    for k in args: #k는 key
        print(k, ":", args[k])

In [69]:
print_student(name = 'james', gender ='M', major ='LIS')

name : james
gender : M
major : LIS

In [70]:
companies = ['Apple','Google','Amazon']
print(concat(*companies)) #*로 리스트의 원소들 풀어서 전달해야함

Apple/Google/Amazon

In [74]:
student = {'name':'Sophia', 'gender':'F', 'major':'DS'}

In [75]:
print_student(student)

TypeError: print_student() takes 0 positional arguments but 1 was given

In [76]:
print_student(**student)

name : Sophia
gender : F
major : DS

In [77]:
def make_incrementor(n):
    return lambda x: x+n

f1 = make_incrementor(15)
print(type(f1))

<class 'function'>

In [78]:
print(f1(5))

20

## Lists

In [87]:
fruits = ['orange','apple','pear','banana']
fruits.append('kiwi')
fruits

['orange', 'apple', 'pear', 'banana', 'kiwi']

In [88]:
fruits.extend(['peach','grape']) #여러개의 하나하나의 원소를 추가하고 싶다면 extend

In [89]:
fruits.append(['peach','grape'])

In [90]:
fruits

['orange',
 'apple',
 'pear',
 'banana',
 'kiwi',
 'peach',
 'grape',
 ['peach', 'grape']]

In [91]:
fruits.pop(-1)

['peach', 'grape']

In [92]:
fruits.remove('orange')
fruits

['apple', 'pear', 'banana', 'kiwi', 'peach', 'grape']

In [93]:
fruits.clear()
fruits

[]

In [94]:
fruits = ['orange','apple','pear','apple','banana']

In [95]:
fruits.index('apple')

1

In [97]:
fruits.index('apple',2) #2 이후부터 traverse

3

In [99]:
#list.sort(key=None, reverse=False)
fruits.sort()
fruits

['apple', 'apple', 'banana', 'orange', 'pear']

In [100]:
fruits.reverse()
fruits

['pear', 'orange', 'banana', 'apple', 'apple']

In [101]:
#shallow copy == 값 하나를 두개의 변수가 pointing
fruits1 = [['apple','pear'],['banana','orange']]
fruits2 = fruits1
fruits1.append('grape')
fruits2

[['apple', 'pear'], ['banana', 'orange'], 'grape']

In [103]:
#deep copy == 값 두개를 각각의 변수가 pointing
import copy
fruits1 = [['apple','pear'],['banana','orange']]
fruits3 = copy.deepcopy(fruits1)
fruits1[0][1]='peach'
fruits3

[['apple', 'pear'], ['banana', 'orange']]

## List Comprehension

In [104]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [106]:
z = [(x,y) for x in [1,2,3] for y in [3,1,4] if x!=y] #nested for statement
z

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [107]:
fruits=['apple','pear','banana','peach']
del fruits[0]
fruits

['pear', 'banana', 'peach']

## Tuples

In [109]:
t = 12345, 54321, 'hello!'
t

(12345, 54321, 'hello!')

In [110]:
#Immutable
t[0] = 'abcde'

TypeError: 'tuple' object does not support item assignment

In [111]:
t = ([1,2,3],[4,5,6])
t[0][0] = 'x'
t #튜플이 가진 리스트의 원소는 변경 가능

(['x', 2, 3], [4, 5, 6])

In [112]:
t[0]=['x',2,3]

TypeError: 'tuple' object does not support item assignment

In [113]:
t=('hello', ) #원소 하나인 튜플 생성 시 콤마 필수
print(type(t))

<class 'tuple'>

In [114]:
t=('hello')
print(type(t))

<class 'str'>

In [115]:
t=tuple('hello')
print(type(t))

<class 'tuple'>

In [117]:
#unpacking
t = 12345,54321,'hello'
x,y,z=t
print(z)
print(type(z))

hello
<class 'str'>

## Sets

In [118]:
basket = {'apple','orange','apple','pear','orange','banana'}
print(basket)

{'orange', 'apple', 'pear', 'banana'}

In [119]:
'acb' in basket

False

In [121]:
basket2 = {'apple','peach','kiwi'}
basket - basket2

{'banana', 'orange', 'pear'}

In [122]:
basket2 - basket #차집합 #두 개의 doc의 토큰들을 비교하는 경우

{'kiwi', 'peach'}

In [123]:
basket | basket2 #합집합

{'apple', 'banana', 'kiwi', 'orange', 'peach', 'pear'}

In [124]:
basket & basket2 #교집합

{'apple'}

In [125]:
basket ^ basket2 #교집합 제외

{'banana', 'kiwi', 'orange', 'peach', 'pear'}

In [127]:
#set comprehensions
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

## Dictionaries

In [128]:
tel = {'Kate':9290, 'James':1248}
tel['Sophia']=5154
tel

{'Kate': 9290, 'James': 1248, 'Sophia': 5154}

In [129]:
list(tel)

['Kate', 'James', 'Sophia']

In [130]:
sorted(tel)

['James', 'Kate', 'Sophia']

In [132]:
'abc' in tel #key checking

False

In [134]:
dict([('Kate',9290),('James',1248)])

{'Kate': 9290, 'James': 1248}

In [135]:
#dict comprehension
{x: x**2 for x in (2,4,6)}

{2: 4, 4: 16, 6: 36}

In [137]:
for k,v in tel.items():
    print(k, tel[k])

Kate 9290
James 1248
Sophia 5154

In [138]:
for k,v in tel.items():
    print(k, v)

Kate 9290
James 1248
Sophia 5154

In [139]:
for k in tel:
    print(k, tel[k])

Kate 9290
James 1248
Sophia 5154

In [140]:
for i,v in enumerate(['tic','tac','toe']): #index도 return
    print(i,v)

0 tic
1 tac
2 toe

In [141]:
ids=[1234,5678,9012]
names=['James','Sophia','Kate']
for i,n in zip(ids,names):
    print(i,n)

1234 James
5678 Sophia
9012 Kate

In [143]:
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [147]:
x='Beijing'
y='China'

print('{} is the capital of {}.'.format(x,y))

Beijing is the capital of China.

In [149]:
print('{1} is the capital of {0}'.format('China', 'Beijing'))

Beijing is the capital of China

## File I/O

In [150]:
with open('workfile.txt') as f:
    data = f.read()
    print(data)

first line
second line

In [151]:
with open('workfile.txt') as f:
    line = f.readline()
    print(line)

first line

In [152]:
with open('workfile.txt') as f:
    for line in f:
        print(line, end=' ')

first line
 second line

In [153]:
with open('workfile.txt') as f:
    line = f.readlines() ##list
    print(line)

['first line\n', 'second line']

In [154]:
with open('workfile2.txt', 'w') as f:
    f.write('This is a test line.\n')

In [155]:
with open ('workfile2.txt') as f:
    data=f.read()
    print(data)

This is a test line.

In [156]:
with open('workfile2.txt', 'a') as f:
    f.write('another line.\n')

In [157]:
with open ('workfile2.txt') as f:
    data=f.read()
    print(data)

This is a test line.
another line.

## json

In [158]:
import json
fruite=['apple','banana','cherry']
fruits_json = json.dumps(fruits) #dump's' 는 change to string
print(type(fruits_json))

<class 'str'>

In [159]:
with open('json_file','w') as f:
    json.dump(fruits, f)

In [163]:
with open ('json_file') as f:
    fruits=json.load(f) #리스트로 취급
    print(fruits)
    line = f.readline()
    print(type(line))

['pear', 'banana', 'peach']
<class 'str'>

In [ ]:
while True:
    try:
        x=int(input())
        break
    except ValueError:
        print('That was unvalid number. Try again...')

In [ ]:
import sys
try:
    x=int(input())
except:
    print(sys.exc_info())

In [ ]:
try:
    x=int(input())
except Exception as err: #Exception == Super Class
    print(type(err))
    print(err.args)
    print(err)

In [ ]:
while True:
    try:
        x=int(input())
    except ValueError:
        print('That was unvalid number. Try again...')
    else:
        print('You entered', x)
        break

In [1]:
try:
    x=input('enter ID')
    raise NameError(x)
except NameError as err:
    print('ID already exist', err.args[0])

enter ID202020
ID already exist 202020

In [5]:
try:
    x=int(input())
except ValueError:
    print('That was unvalid number. Try again...')
finally: #언제나 실행
    print('Thx')

ㅁ
That was unvalid number. Try again...
Thx

## Classes

In [9]:
spam=' '
def scope_test():
    def do_local():
        spam='local spam'
    def do_nonlocal():
        nonlocal spam
        spam ='nonlocal spam'
    def do_global():
        global spam
        spam='global spam'
    spam='test spam'
    do_local()
    print("After local assign:", spam)
    do_nonlocal()
    print("After nonlocal assign:", spam)
    do_global()
    print('After global ssign:', spam)

scope_test()
print("In global scope:", spam)

After local assign: test spam
After nonlocal assign: nonlocal spam
After global ssign: nonlocal spam
In global scope: global spam

In [13]:
class Student():
    def __init__(self, name, major):
        self.name = name
        self.major = major
    def get_info(self):
        print(self.name, 'is major in', self.major)
kate = Student('kate','CS')
print(kate)

<__main__.Student object at 0x102c44a20>

In [14]:
class Dog:
    tricks=[]
    def __init__(self,name):
        self.name=name
    def add_trick(self,trick):
        self.tricks.append(trick)
d=Dog('Fido')
e=Dog('Hi')

d.add_trick('a')
e.add_trick('e')

d.tricks

['a', 'e']

In [17]:
class Dog:
    def __init__(self,name,trick):
        self.name=name
        self.trick = trick
    def add_trick(self,trick):
        self.tricks.append(trick)
d=Dog('Fido','a')
e=Dog('Hi','e')

d.trick

'a'

In [18]:
import os
os.getcwd()

'/Users/sieunbae/Library/Mobile Documents/com~apple~CloudDocs/baesieun/2019 fall/ML/lab'

In [19]:
import glob
glob.glob('*.py')

[]

## Regular expression

In [20]:
import re #regular expression
str1='Mu phone number is 010-0000-0000'
num1 = re.findall(r'\d+-\d+-\d+', str1)
print(num1)

['010-0000-0000']

In [23]:
'''import statistics
from urllib.request import urlopen
with urlopen('') as response:
    for line in response:
        line = line.decode('UTF-8')
import datetime
import zlib
#zlib.compress/decompress'''



from timeit import timeit
code1 = ''' 
l=list()
for i in range(100):
    l.append(i)
'''
code2='''
l=list()
l=[i for i in range(100)]
'''
print(timeit(stmt=code1, number=20000))
print(timeit(stmt=code2, number=20000))

0.14492805600002612
0.060121702000060395